@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    background-color: azure;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid navy;
}

.header img{
    width: 100%;
    height: 50px;
}

.tag-username{
    padding: 10px;
    border: 1px solid navy;
    border-radius: 5px;
    color: navy;
    font-weight: 600;
    cursor: pointer;
}

.tag-username:hover{
    color: azure;
    background-color: navy;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

.left-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex: 15%;  
    background-color: navy;
}

.above-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.below-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
}

.above-menu a, .below-menu a{
    text-decoration: none;
    color: azure;
    font-size: 16px;
    font-weight: 600;
}

.right-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 85%;
    background-color: azure;
    padding: 5px;
}

.title-menu{
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
}

.sub-right-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    height: 92%;
}

.main-part{
    display: flex;
    width: 98%;
    flex-direction: column;
    justify-content: center;
}

.ustadz button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: tomato;
    color: black;
    border: 1px solid tomato;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 10px;
}

.santri button{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: teal;
    color: azure;
    border: 1px solid teal;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 10px;
}

.santri button:hover{
    color: teal;
    background-color: azure;
}

.ustadz button:hover{
    color: tomato;
    background-color: azure;
}

.ustadz a, .santri a{
    text-decoration: none;
}

.top-box{
    display: flex;
    flex-direction: column;
    flex: 40%;
    border: 1px solid navy;
    padding: 10px;
    
}

.bottom-box{
    display: flex;
    flex-direction: column;
    flex: 40%;
    border: 1px solid navy;
    padding: 10px;
}

.part-one{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.part-one div select{
    width: 300px;
    height: 25px;
    outline: none;
}

.part-one div button{
    width: 50px;
    height: 25px;
}

.check div input{
    width: 50px;
    height: 25px;
}

.part-two-a{
    display: flex;
    flex-direction: column;
}

.part-two-b{
    display: flex;
    flex-direction: column;
}
.part-two-a .one{
    display: flex;
    justify-content: center;
}

.part-two-b .one{
    display: flex;
    justify-content: center;
}

.one{
    display: flex;
    justify-content: center;
}

.one img{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border: 2px solid slategray;
    border-radius: 100px;
}

.two{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.show-name{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: 10px;
}

.three, .four, .five, .six, .seven, .eight, .nine, .ten{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 5px;
    vertical-align: middle;
    align-items: center;
}

.three img, .four img, .five img, .six img, .seven img, .eight img, .nine img, .ten img{
    margin-top: 3px;
    width: 20px;
}


@media only screen and (max-width: 1024px) {

    .container{
        height: auto;
    }

    .header{
        flex-direction: column;
    }
    
    .logo img{
        margin-top: 10px;
        margin-bottom: 10px;
        height: 70px;
    }

    .tag-username{
        margin: 5px 0 10px 0;
    }

    .content{
        flex-direction: column;
        height: 100%;
    }

    .above-menu{
        align-items: center;
        gap: 20px;
    }

    .below-menu{
        align-items: center;
        border-top: 2px solid slategrey;
    }

    .sub-right-content{
        flex-direction: column;
    }



    
}
